const http = require("http");
const fs = require("fs");

const server = http.createServer((req, res) => {

  if (req.url === "/users") {

    fs.readFile("users.json", "utf8", (err, data) => {

      res.writeHead(200, {
        "Content-Type": "application/json"
      });

      res.end(data);

    });

  } else {

    res.writeHead(200, {
      "Content-Type": "text/plain"
    });

    res.end("WayneMail server is running!");

  }

});

server.listen(3000, () => {
  console.log("WayneMail server started on port 3000");
});
nav {
  background-color: #222;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

hr {
  margin: 0;
}
footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #222;
  color: white;
  text-align: center;
}

footer p {
  margin: 5px 0;
}
